:root {
    --font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    --font-weight: normal;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-buttons {
    display: flex;
    gap: 2rem;
}